services:
  - type: worker
    name: sni-pipeline-daemon
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python pipeline/runner/pipeline_daemon.py"
    autoDeploy: true
